$color1: #ffffff;
$color2: #000000;
$color3: #ff863f;
$color4: rgb(128, 128, 128);
$color5: #444444;
$color6: #d6d6d6;
$color7: #fbfbfb;
$color8: #d2695a;
$color9: #ffdab9;
$break-small: 544px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
$font-xsmall: 0.8rem;
$font-small: 1.1rem;
$font-medium: 1.2rem;
$font-large: 1.5rem;
$font-xlarge: 2rem;
$icon-envelope: '\F0E0';
$icon-link: '\F0C1';
$icon-map-marker: '\F041';
$icon-pdf: '\f1c1';
$icon-phone: '\F095';
$icon-search: '\F002';
$icon-skype: '\F17E';
$line-height-medium: 1.5em;
