$color1: #ffffff;
$color2: #000000;
$color3: #ff863f;
$color4: rgb(128, 128, 128);
$color5: #444444;
$color6: #d6d6d6;
$break-small: 544px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;
