@import 'reset-css/reset.scss';

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #fbfbfb;
    background-image: url('/themes/custom/naturalmission/images/black-thread-light.png');
    font-family: monospace;
    overflow-x: hidden;
    width: 100%;
}
.background {
   background-image: url('/themes/custom/naturalmission/images/black-thread-light.png');
}

img {
    height: auto;
    max-width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts";
// @TODO: don't include font-awesome as it's #massive.
@import 'font-awesome/scss/font-awesome';
@import 'variables';
@import 'mixins';
@import 'components/about';
@import 'components/article';
@import 'components/contact';
@import 'components/form';
@import 'components/landing';
@import 'components/link-blocks';
@import 'components/list';
@import 'components/menu';
@import 'components/pager';
@import 'components/recent';
@import 'components/region';
@import 'components/result';
@import 'components/section';
@import 'components/service';
@import 'components/text';
@import 'components/title';
