@import 'reset';
@import 'variables';
@import 'mixins';

body {
  background-color: $color7;
  font-family: 'Conv_PRINC___';
  overflow-x: hidden;
  width: 100%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul {
  margin-bottom: 1em;
  margin-left: 2em;
}

body,
.background {
  background-attachment: fixed;
  background-image: url('/themes/custom/naturalmission/images/black-thread-light.png');
}

.disqus {
  margin-top: 2rem;
}

@import 'components/about';
@import 'components/article';
@import 'components/contact';
@import 'components/file';
@import 'components/form';
@import 'components/landing';
@import 'components/link-blocks';
@import 'components/list';
@import 'components/menu';
@import 'components/pager';
@import 'components/recent';
@import 'components/region';
@import 'components/resource';
@import 'components/result';
@import 'components/section';
@import 'components/service';
@import 'components/text';
@import 'components/title';
