{% for item in items %}
  <a href='https://www.google.com.au/maps/place/Natural+Mission/@-17.894454,146.0924352,15.75z/data=!4m8!1m2!2m1!1snatural+mission!3m4!1s0x697f2f3e52dc83e1:0xba327df811736596!8m2!3d-17.894431!4d146.09463' target='_blank'>
    Home clinic<br />
    {{ item.content }}
  </a>
{% endfor %}
