<li class='service'>
  <div class='service__title'>{{ content.field_service_title }}</div>
  <div class='service__icon'>
    {{ content.field_service_icon }}
  </div>
  <div class="text">
    {{ content.field_service_text }}
  </div>
</li>
