<!DOCTYPE html>
<html>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="stylesheet" href="/themes/custom/naturalmission/media/fonts.css">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
  </head>
  <body>
    {{ page }}
    <script type='text/javascript' src='/themes/custom/naturalmission/media/js/app.js'></script>
  </body>
</html>
