@font-face {
	font-family: 'Conv_cafeandbrewery';
	src: url('fonts/cafeandbrewery.eot');
	src: local('☺'), url('fonts/cafeandbrewery.woff') format('woff'), url('fonts/cafeandbrewery.ttf') format('truetype'), url('fonts/cafeandbrewery.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_PRINC___';
	src: url('fonts/PRINC___.eot');
	src: local('☺'), url('fonts/PRINC___.woff') format('woff'), url('fonts/PRINC___.ttf') format('truetype'), url('fonts/PRINC___.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Airplanes in the Night Sky';
	src: url('fonts/Airplanes in the Night Sky.eot');
	src: local('☺'), url('fonts/Airplanes in the Night Sky.woff') format('woff'), url('fonts/Airplanes in the Night Sky.ttf') format('truetype'), url('fonts/Airplanes in the Night Sky.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
