@charset "UTF-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }
  blockquote::after, blockquote::before,
  q::after,
  q::before {
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

img {
  height: auto;
  max-width: 100%; }

body {
  background-color: #fbfbfb;
  font-family: 'Conv_PRINC___';
  overflow-x: hidden;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; }

::-moz-selection {
  background: #8b49ff; }

::selection {
  background: #8b49ff; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

body,
.background {
  background-attachment: fixed;
  background-image: url("/themes/custom/naturalmission/images/black-thread-light.png"); }

.disqus {
  margin-top: 2rem; }

.about {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 3rem; }
  .about__profile {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    padding: 0 25% 2rem;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .about__profile {
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
        padding: 0; } }
  .about__text {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%; }
    @media screen and (min-width: 768px) {
      .about__text {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; } }

.article {
  background-color: #ffffff; }
  .article__content {
    padding: 2rem; }
    .article__content ul {
      margin-bottom: 1em;
      margin-left: 2em; }
  .article__author {
    font-size: 1.2rem;
    text-transform: uppercase; }
  .article__date {
    color: #d2695a;
    margin-bottom: 0.5rem; }

.contact__map {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none; }
  @media screen and (min-width: 768px) {
    .contact__map {
      pointer-events: all; } }

.contact__content {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .contact__content {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }

.contact__options {
  color: gray;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .contact__options {
      -ms-flex: 0 1 1rem;
          flex: 0 1 1rem;
      padding: 0 2rem; } }

.contact__values {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%; }
  @media screen and (min-width: 768px) {
    .contact__values {
      padding: 0 2rem; } }

.contact__option {
  transition: color 0.5s;
  cursor: pointer;
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  font-size: 2.5rem;
  padding: 0.5rem 0;
  pointer-events: all;
  text-align: center; }
  .contact__option:hover {
    color: #8b49ff; }
  .contact__option--skype::before {
    content: "\F17E";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin: 0 0.75rem;
    text-rendering: auto; }
  .contact__option--envelope::before {
    content: "\F0E0";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin: 0 0.75rem;
    text-rendering: auto; }
  .contact__option--phone::before {
    content: "\F095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin: 0 0.75rem;
    text-rendering: auto; }
  .contact__option--map-marker::before {
    content: "\F041";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin: 0 0.75rem;
    text-rendering: auto; }
  .contact__option--selected {
    color: #8b49ff; }
  @media screen and (min-width: 768px) {
    .contact__option {
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; } }

.contact__value {
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  padding: 3rem 1.5rem;
  pointer-events: all; }
  .contact__value--selected {
    display: block; }
  .contact__value a {
    transition: color 0.5s; }
    .contact__value a:hover {
      color: #8b49ff; }

.file {
  display: block;
  font-size: 1.5rem;
  padding: 1em 0;
  text-align: center; }
  .file a {
    transition: color 0.5s; }
    .file a:hover {
      color: #8b49ff; }
    .file a[href$='.pdf']::before {
      content: "\F1C1";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      margin: 0 0.75rem;
      text-rendering: auto; }

.form__element {
  margin: 1.5em 0; }

.form__element-inner {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #000000;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  line-height: 1.5em;
  padding: 0 1.5rem; }

.form__label {
  border-right: 1px solid #000000;
  padding-right: 1rem; }

.form__input {
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.5em;
  outline: none;
  padding-left: 1.5rem; }
  .form__input--bordered {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    margin-top: 1.5rem;
    padding-right: 1.5rem; }

.form__description {
  margin-top: 0.5rem; }

.landing {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  position: relative; }
  .landing__text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 2rem 0.5rem;
    position: relative;
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .landing__text {
        font-size: 1.5rem;
        padding: 3rem;
        text-align: right; } }
  .landing__logo {
    display: block;
    margin: 0 auto 1em;
    width: 50px; }
    @media screen and (min-width: 768px) {
      .landing__logo {
        display: inline-block;
        margin-bottom: -1.8em;
        margin-right: 0.5em;
        margin-top: -2em;
        width: 100px; } }
  .landing__title {
    display: inline-block;
    font-family: 'Conv_cafeandbrewery';
    font-size: 2.79em; }
  .landing__subtitle {
    font-family: 'Conv_cafeandbrewery';
    font-size: 0.9em;
    letter-spacing: 0.36em;
    margin-right: -0.4em;
    margin-top: -0.6em; }
  .landing__video-wrapper {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%; }
  .landing__video {
    height: 100%;
    object-fit: cover;
    width: 100%; }

.link-blocks {
  -ms-flex-align: center;
      align-items: center;
  background-color: #000000;
  background-image: url("/themes/custom/naturalmission/images/black-thread-light.png");
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .link-blocks__item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    padding-top: 100%;
    position: relative; }
    @media screen and (min-width: 768px) {
      .link-blocks__item {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
        padding-top: 50%; } }
    @media screen and (min-width: 992px) {
      .link-blocks__item {
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
        padding-top: 33.33333%; } }
  .link-blocks__content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -ms-flex-align: center;
        align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    transition: background-color 0.5s; }
  .link-blocks__image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden; }
    .link-blocks__image img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transition: transform 0.5s; }
  .link-blocks__inner-content {
    width: 100%; }
  .link-blocks__name {
    color: #ffffff;
    font-family: 'Conv_cafeandbrewery';
    font-size: 1.7rem;
    text-transform: uppercase; }
  .link-blocks__description {
    color: #ffdab9;
    display: none;
    font-size: 1.2rem;
    font-weight: bold; }
  .link-blocks__link {
    transition: color 0.5s;
    color: #ffffff;
    display: none;
    font-size: 3rem;
    padding: 1rem; }
    .link-blocks__link:hover {
      color: #8b49ff; }
    .link-blocks__link::before {
      content: "\F0C1";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      margin: 0 0.75rem;
      text-rendering: auto; }
  .link-blocks--active .link-blocks__content {
    background-color: rgba(0, 0, 0, 0.67); }
  .link-blocks--active .link-blocks__description {
    display: block; }
  .link-blocks--active .link-blocks__link {
    display: inline-block; }
  .link-blocks--active .link-blocks__image img {
    transform: scale(1.1); }

.list {
  -ms-flex-align: stretch;
      align-items: stretch;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list__item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    padding: 0 1rem 2rem; }
    @media screen and (min-width: 768px) {
      .list__item {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; } }
    @media screen and (min-width: 992px) {
      .list__item {
        -ms-flex: 0 0 33%;
            flex: 0 0 33%; } }
  .list__image {
    background-color: #ffffff;
    padding: 0 1rem 1rem; }
  .list__tags {
    height: 2em;
    background-color: white;
    padding: 1em;
    padding-top: 0; }
  .list__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color 0.5s;
    background-color: #ffffff;
    display: block;
    font-size: 1.5rem;
    padding: 0.75rem; }
    .list__title:hover {
      color: #8b49ff; }
  .list__text {
    background-color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.5em;
    padding: 0 1rem 1rem;
    text-align: justify;
    height: 6.25em; }

.menu {
  background-color: #ffffff;
  color: gray;
  font-family: 'Conv_PRINC___';
  width: 100%; }
  .menu--home {
    background-color: #444444;
    color: #ffffff;
    left: 0;
    position: absolute;
    top: 0; }
    @media screen and (min-width: 992px) {
      .menu--home {
        background-color: transparent;
        bottom: 0;
        top: auto; }
        .menu--home::before {
          background: linear-gradient(transparent, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
          bottom: 0;
          content: '';
          height: 5rem;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: 0; }
        .menu--home .menu__items {
          position: relative;
          z-index: 1; } }
  .menu__button {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.45rem; }
    .menu__button::before {
      content: "\F0C9";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      margin: 0 0.75rem;
      text-rendering: auto; }
    @media screen and (min-width: 992px) {
      .menu__button {
        display: none; } }
  .menu__items {
    display: none;
    text-align: center;
    text-transform: uppercase; }
    .menu__items--open {
      display: block; }
    @media screen and (min-width: 992px) {
      .menu__items {
        display: block; } }
  .menu__item {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem; }
    .menu__item:hover {
      color: #ccafff; }
    .menu__item:hover {
      font-weight: bold; }
    @media screen and (min-width: 992px) {
      .menu__item {
        display: inline-block;
        margin: 0.7rem 2rem;
        padding: 0; } }
    .menu__item--search {
      margin-bottom: 0;
      margin-top: 0;
      vertical-align: baseline; }
  .menu__search-button::before {
    content: "\F002";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    margin: 0 0.75rem;
    text-rendering: auto; }
  .menu__search-input {
    border: 1px solid gray;
    border-radius: 1em;
    font: inherit;
    line-height: 1.5em;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: center;
    transition: width 0.5s;
    width: 10em; }
    .menu__search-input--hidden {
      border: 0;
      width: 0; }

.pager {
  margin: 2rem 0;
  text-align: center; }
  .pager__item {
    display: inline-block; }

.recent__title {
  background-color: #ffffff;
  font-family: 'Conv_PRINC___';
  font-size: 1.5rem;
  margin: 0 1rem;
  padding: 0.75rem;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    .recent__title {
      margin: 0; } }

.recent__image {
  float: left;
  width: 33%; }

.recent__date, .recent__item-title {
  float: left;
  padding-left: 0.5rem;
  width: 67%; }

.recent__item-title {
  transition: color 0.5s;
  font-size: 1.1rem; }
  .recent__item-title:hover {
    color: #8b49ff; }

.recent__date {
  color: #d2695a;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-transform: uppercase; }

.recent__items {
  padding: 0 1rem; }
  @media screen and (min-width: 768px) {
    .recent__items {
      padding: 0; } }

.recent__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
  margin: 1rem 0;
  padding: 1rem 0; }
  .recent__item::after {
    clear: both;
    content: '';
    display: table; }
  .recent__item:last-child {
    border-bottom: 0; }

.recipe__heading {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  text-transform: uppercase; }
  .recipe__heading--inline {
    display: inline-block; }

.recipe__list {
  padding-bottom: 1em; }

.recipe__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

.recipe__column {
  width: 100%; }

@media screen and (min-width: 992px) {
  .recipe__column {
    width: 50%; } }

.recipe__instruction-step {
  color: #d2695a;
  font-family: 'Conv_Airplanes in the Night Sky';
  font-size: 0.8rem;
  display: inline-block; }

.recipe__description {
  padding-bottom: 1em; }

.region__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem; }
  @media screen and (min-width: 992px) {
    .region__row {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      margin: 0 auto;
      max-width: 1200px; } }

@media screen and (min-width: 992px) {
  .region__header {
    margin: 0 auto;
    max-width: 1200px; } }

.region__content {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  width: 100%; }
  @media screen and (min-width: 992px) {
    .region__content {
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
      margin: 0 1rem; } }

.region__sidebar {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  margin: 1rem 0;
  width: 100%; }
  @media screen and (min-width: 992px) {
    .region__sidebar {
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
      margin: 0 1rem; } }

.resource {
  background-color: #ffffff;
  padding: 1rem; }

.result {
  background-color: #ffffff;
  height: 100%;
  padding: 2rem; }
  .result__list {
    -ms-flex-align: stretch;
        align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .result__wrapper {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    padding: 1rem; }
    @media screen and (min-width: 768px) {
      .result__wrapper {
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; } }
    @media screen and (min-width: 992px) {
      .result__wrapper {
        -ms-flex: 0 0 33.3%;
            flex: 0 0 33.3%; } }
  .result__search {
    padding: 0 1rem;
    position: relative;
    text-align: center; }
  .result__search-input {
    border: 1px solid gray;
    border-radius: 1em;
    color: #444444;
    font-size: 1.5rem;
    line-height: 1.5em;
    margin: 1.5rem 0;
    padding: 0 1.5rem;
    width: 100%; }
  .result__search-button {
    transition: color 0.5s;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: -0.75rem;
    position: absolute;
    right: 1.5rem;
    top: 50%; }
    .result__search-button::before {
      content: "\F002";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      margin: 0 0.75rem;
      text-rendering: auto; }
    .result__search-button:hover {
      color: #8b49ff; }
  .result__title {
    color: #d2695a;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase; }
  .result__snippet {
    font-size: 1.1rem;
    line-height: 1.5em;
    margin: 1rem 0; }

.section {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .section--full-height {
    min-height: 100vh; }
  @media screen and (min-width: 992px) {
    .section--no-mouse {
      pointer-events: none; } }
  .section__content {
    margin: 4rem 2rem;
    position: relative;
    width: 100%; }
    .section__content--no-margin {
      margin-bottom: 0;
      margin-top: 0; }
    @media screen and (min-width: 992px) {
      .section__content {
        margin-left: auto;
        margin-right: auto;
        width: 1000px; } }

.service {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  padding-bottom: 2rem; }
  .service:last-child {
    padding-bottom: 0; }
  @media screen and (min-width: 768px) {
    .service {
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
      padding: 0 1rem; } }
  @media screen and (min-width: 992px) {
    .service {
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
      padding: 0 1rem; } }
  .service__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0 -1rem; }
  .service__title {
    font-size: 2rem;
    text-align: center; }
  .service__icon {
    margin: 2rem auto;
    width: 50%; }

.text {
  font-size: 1.1rem;
  line-height: 1.5em;
  text-align: justify; }
  @media screen and (min-width: 768px) {
    .text--columns {
      column-count: 2;
      column-gap: 1rem; } }
  .text ul {
    list-style: circle; }
  .text ol {
    list-style: initial;
    list-style-type: decimal;
    list-style-position: inside;
    margin-left: 1em;
    margin-bottom: 1em; }
  .text p {
    margin-bottom: 1rem; }
  .text img {
    vertical-align: text-top; }
    @media screen and (min-width: 768px) {
      .text img {
        max-width: 50%; } }
  .text a {
    color: #d2695a;
    font-family: 'Conv_Airplanes in the Night Sky'; }

.title {
  color: #000000;
  font-family: 'Conv_cafeandbrewery';
  font-size: 2rem;
  margin: 4rem 0; }
  .title--center {
    text-align: center; }
  @media screen and (min-width: 768px) {
    .title--right-center {
      margin-left: 50%;
      text-align: center; } }
  .title i {
    color: gray;
    font-family: 'Conv_Airplanes in the Night Sky'; }
