<div class='result__search js-search'>
  <input class='result__search-input js-search__input' name='keys' type='text/javascript' />
  <i class='result__search-button js-search__button fa fa-search'></i>
</div>
