{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{{ title_prefix }}
{% if title %}
<section class='section'>
    <div class='section__content section__content--small-puff'>
        <h1{{ title_attributes.addClass('title') }}>{{ title }}</h1>
    </div>
</section>
{% endif %}
{{ title_suffix }}
