.about {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3rem;

  &__profile {
    flex: 0 0 100%;
    padding: 0 25% 2rem;
    text-align: center;
    @media screen and (min-width: $break-medium) {
      flex: 0 0 25%;
      padding: 0;
    }
  }

  &__text {
    flex: 0 0 100%;
    @media screen and (min-width: $break-medium) {
      flex: 0 0 50%;
    }
  }
}
