.article {
  background-color: $color1;

  &__content {
    padding: 2rem;
  }

  &__author {
    font-size: $font-medium;
    text-transform: uppercase;
  }

  &__date {
    color: $color8;
    margin-bottom: 0.5rem;
  }
}
