.article {
  background-color: $color1;

  &__content {
    padding: 2rem;
  }

  &__author {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &__date {
    color: $color8;
    font-size: 1rem;
    margin-bottom: 0.5em;
  }
}
