.article {
  background-color: $color1;

  &__content {
    padding: 2rem;

    ul {
      margin-bottom: 1em;
      margin-left: 2em;
    }
  }

  &__author {
    font-size: $font-medium;
    text-transform: uppercase;
  }

  &__date {
    color: $color8;
    margin-bottom: 0.5rem;
  }
}
