.contact {
  &__map {
    @include fill;
    pointer-events: none;
    @media screen and (min-width: $break-medium) {
      pointer-events: all;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $break-medium) {
      flex-wrap: nowrap;
    }
  }

  &__options {
    color: $color4;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    @media screen and (min-width: $break-medium) {
      flex: 0 1 1rem;
      padding: 0 2rem;
    }
  }

  &__values {
    flex: 1 1 100%;
    @media screen and (min-width: $break-medium) {
      padding: 0 2rem;
    }
  }

  &__option {
    @include hover;
    cursor: pointer;
    flex: 0 0 25%;
    font-size: 2.5rem;
    padding: 0.5rem 0;
    pointer-events: all;
    text-align: center;

    &--skype {
      @include icon($icon-skype);
    }

    &--envelope {
      @include icon($icon-envelope);
    }

    &--phone {
      @include icon($icon-phone);
    }

    &--map-marker {
      @include icon($icon-map-marker);
    }

    &--selected {
      color: $color3;
    }
    @media screen and (min-width: $break-medium) {
      flex: 0 0 100%;
    }
  }

  &__value {
    background-color: transparentize($color1, 0.5);
    display: none;
    font-size: $font-large;
    margin: 1.5rem 0;
    padding: 3rem 1.5rem;
    pointer-events: all;

    &--selected {
      display: block;
    }

    a {
      @include hover;
    }
  }
}
