.file {
  display: block;
  font-size: $font-large;
  padding: 1em 0;
  text-align: center;

  a {
    &[href$='.pdf'] {
      @include icon($icon-pdf);
    }

    &:hover {
      color: $color3;
    }
  }
}
