.form {
  &__element {
    margin: 1.5em 0;
  }

  &__element-inner {
    background-color: transparentize($color1, 0.5);
    border: 1px solid $color2;
    display: flex !important; // @TODO: remove need for important by removing drupal css.
    font-size: 1.5rem;
    line-height: 2em;
    padding: 0 1em;
  }

  &__label {
    border-right: 1px solid $color2;
    padding-right: 1em;
  }

  &__input {
    background-color: transparent;
    border: 0;
    font-family: inherit;
    font-size: 1.5rem;
    line-height: 2em;
    outline: none;
    padding-left: 1em;

    &--bordered {
      background-color: transparentize($color1, 0.5);
      border: 1px solid $color2;
      margin-top: 1em;
      padding-right: 1em;
    }
  }

  &__description {
    margin-top: 0.5em;
  }
}
