.landing {
  align-items: center;
  display: flex;
  min-height: 100vh;
  position: relative;

  &__text {
    background-color: transparentize($color2, 0.5);
    color: $color1;
    padding: 2rem 0.5rem;
    position: relative;
    text-align: right;
    width: 100%;
    @media screen and (min-width: $break-medium) {
      font-size: $font-large;
      padding: 3rem;
    }
  }

  &__title {
    font-family: 'Conv_cafeandbrewery';
    font-size: 2.79em;
  }

  &__subtitle {
    font-family: 'Conv_cafeandbrewery';
    font-size: 0.9em;
    letter-spacing: 0.36em;
    margin-right: -0.4em;
    margin-top: -0.6em;
  }

  &__video-wrapper {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__video {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
