.link-blocks {
  align-items: center;
  background-color: $color2;
  background-image: url('/themes/custom/naturalmission/images/black-thread-light.png');
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 100%;
    padding-top: 100%;
    position: relative;
    @media screen and (min-width: $break-medium) {
      flex: 0 0 $percentage;
      $percentage: 100% / 2;
      padding-top: $percentage;
    }
    @media screen and (min-width: $break-large) {
      flex: 0 0 $percentage;
      $percentage: 100% / 3;
      padding-top: $percentage;
    }
  }

  &__content {
    @include fill;
    align-items: center;
    display: flex;
    text-align: center;
    transition: background-color 0.5s;
  }

  &__image img {
    @include fill;
  }

  &__inner-content {
    width: 100%;
  }

  &__name {
    color: white;
    font-family: 'Conv_cafeandbrewery';
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__description {
    color: peachpuff;
    display: none;
    padding: 1em;
  }

  &__link {
    color: $color1;
    display: none;
    transition: color 0.5s;

    &:hover {
      color: $color3;
    }
  }

  &--active {
    .link-blocks__content {
      background-color: rgba(0, 0, 0, 0.67);
    }

    .link-blocks__description,
    .link-blocks__link {
      display: block;
    }
  }
}
