.link-blocks {
  align-items: center;
  background-color: $color2;
  background-image: url('/themes/custom/naturalmission/images/black-thread-light.png');
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 100%;
    padding-top: 100%;
    position: relative;
    @media screen and (min-width: $break-medium) {
      $percentage: 100% / 2;
      flex: 0 0 $percentage;
      padding-top: $percentage;
    }
    @media screen and (min-width: $break-large) {
      $percentage: 100% / 3;
      flex: 0 0 $percentage;
      padding-top: $percentage;
    }
  }

  &__content {
    @include fill;    
    align-items: center;
    background-color: transparentize($color2, 0.8);
    display: flex;
    text-align: center;
    transition: background-color 0.5s;
  }

  &__image {
    @include fill;
    overflow: hidden;

    img {
      @include fill;
      transition: transform 0.5s;
    }
  }

  &__inner-content {
    width: 100%;
  }

  &__name {
    color: $color1;
    font-family: 'Conv_cafeandbrewery';
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  &__description {
    color: $color9;
    display: none;
    font-size: $font-medium;
    font-weight: bold;
  }

  &__link {
    @include hover;
    @include icon($icon-link);
    color: $color1;
    display: none;
    font-size: 3rem;
    padding: 1rem;
  }

  &--active {
    .link-blocks__content {
      background-color: transparentize($color2, 0.33);
    }

    .link-blocks__description {
      display: block;
    }

    .link-blocks__link {
      display: inline-block;
    }

    .link-blocks__image {
      img {
        transform: scale(1.1);
      }
    }
  }
}
