.list {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 100%;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 0 1em 2em;
    @media screen and (min-width: $break-medium) {
      flex: 0 0 50%;
    }
    @media screen and (min-width: $break-large) {
      flex: 0 0 33%;
    }
  }

  &__image {
    background-color: $color1;
    padding: 0 1em;
  }

  &__title {
    background-color: $color1;
    display: block;
    font-size: 1.5rem;
    overflow: hidden;
    padding: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__text {
    background-color: $color1;
    font-size: 1.1rem;
    line-height: 1.5em;
    padding: 1em;
    text-align: justify;
  }
}
