.list {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    padding: 0 1rem 2rem;
    @media screen and (min-width: $break-medium) {
      flex: 0 0 50%;
    }
    @media screen and (min-width: $break-large) {
      flex: 0 0 33%;
    }
  }

  &__image {
    background-color: $color1;
    padding: 0 1rem 1rem;
  }

  &__title {
    @include ellipse;
    @include hover;
    background-color: $color1;
    display: block;
    font-size: $font-large;
    padding: 0.75rem;
  }

  &__text {
    background-color: $color1;
    font-size: $font-small;
    line-height: $line-height-medium;
    padding: 0 1rem 1rem;
    text-align: justify;
    height: 6.25em;
  }
}
