.local-tasks {
    background-color: $color2;
    color: $color1;
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    &__item {
        cursor: pointer;
        display: inline-block;
        font-size: 1.1rem;
        padding: 0.7em 2em;
        transition: color 0.5s;

        &:hover {
            color: $color3;
        }

        &--is-active {
            background-color: $color3;
            color: $color5;

            &:hover {
                color: $color5;
            }
        }
    }
}
