.menu {
    background-color: $color2;
    color: $color1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @media screen and (min-width: $break-large) {
        top: auto;
        bottom: 0;
    }

    &__button {
        cursor: pointer;
        font-size: 1.5rem;
        padding: 0.3em;
        @media screen and (min-width: $break-large) {
            display: none;
        }
    }

    &__items {
        display: none;
        text-align: center;
        text-transform: uppercase;

        &--open {
            display: block;
        }

        @media screen and (min-width: $break-large) {
            display: block;
        }
    }

    &__item {
        cursor: pointer;
        font-size: 1.1rem;
        margin: 2em;
        transition: color 0.5s;

        &:hover {
            color: $color3;
        }

        @media screen and (min-width: $break-large) {
            display: inline-block;
            margin: 0.7em 2em;
        }
    }
}
