.menu {
  background-color: $color1;
  color: $color4;
  font-family: 'Conv_PRINC___';
  width: 100%;

  &--home {
    background-color: $color5;
    color: $color1;
    left: 0;
    position: absolute;
    top: 0;
    @media screen and (min-width: $break-large) {
      background-color: transparent;
      bottom: 0;
      top: auto;

      &::before {
        background: linear-gradient(transparentize($color2, 1), transparentize($color2, 0.75), transparentize($color2, 0.25));
        bottom: 0;
        content: '';
        height: 5rem;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 0;
      }

      .menu__items {
        position: relative;
        z-index: 1;
      }
    }
  }

  &__button {
    @include icon($icon-bars);
    cursor: pointer;
    font-size: $font-large;
    padding: 0.45rem;
    @media screen and (min-width: $break-large) {
      display: none;
    }
  }

  &__items {
    display: none;
    text-align: center;
    text-transform: uppercase;

    &--open {
      display: block;
    }
    @media screen and (min-width: $break-large) {
      display: block;
    }
  }

  &__item {
    @include hover;
    cursor: pointer;
    font-size: $font-medium;
    padding: 1rem;

    &:hover {
      font-weight: bold;
    }
    @media screen and (min-width: $break-large) {
      display: inline-block;
      margin: 0.7rem 2rem;
      padding: 0;
    }

    &--search {
      margin-bottom: 0;
      margin-top: 0;
      vertical-align: baseline;
    }
  }

  &__search-button {
    @include icon($icon-search);
  }

  &__search-input {
    border: 1px solid $color4;
    border-radius: 1em;
    font: inherit;
    line-height: $line-height-medium;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: center;
    transition: width 0.5s;
    width: 10em;

    &--hidden {
      border: 0;
      width: 0;
    }
  }
}
