.menu {
    background-color: $color1;
    width: 100%;

    // @TODO: this is wrong. Find a way to add class to menu based on page.
    &--dark {
      background-color: $color2;
      color: $color1;
    }


    &--bottom {
        position: absolute;
        top: 0;
        left: 0;

        @media screen and (min-width: $break-large) {
            top: auto;
            bottom: 0;
        }
    }

    &__button {
        cursor: pointer;
        font-size: 1.5rem;
        padding: 0.3em;
        @media screen and (min-width: $break-large) {
            display: none;
        }
    }

    &__items {
        display: none;
        text-align: center;
        text-transform: uppercase;

        &--open {
            display: block;
        }

        @media screen and (min-width: $break-large) {
            display: block;
        }
    }

    &__item {
        cursor: pointer;
        font-size: 1.1rem;
        margin: 2em;
        transition: color 0.5s;

        &:hover {
            color: $color3;
        }

        @media screen and (min-width: $break-large) {
            display: inline-block;
            margin: 0.7em 2em;
        }

        &--search {
          vertical-align: baseline;
          margin-top: 0;
          margin-bottom: 0;
        }
    }
    &__search-input {
        margin: 0;
        padding: 0;
        border: 1px solid $color3;
        font: inherit;
        width: 10em;
        text-transform: uppercase;
        line-height: 1.5em;
        transition: width 0.5s;
        text-align: center;
        &--hidden {
          border:none;
          width: 0px;
        }
    }

}
