.recent {
  &__title {
    background-color: $color1;
    font-family: 'Conv_PRINC___';
    font-size: 1.5rem;
    margin: 0 1rem;
    @media screen and (min-width: $break-medium) {
      margin: 0;
    }
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
  }

  &__image {
    float: left;
    width: 33%;
  }

  &__date,
  &__item-title {
    float: left;
    padding-left: 0.5rem;
    width: 67%;
  }

  &__item-title {
    font-size: 1.1rem;

    &:hover {
      color: $color3;
    }
  }

  &__date {
    color: $color8;
    font-size: 0.8rem;
    margin-top: 0.5em;
    text-transform: uppercase;
  }

  &__items {
    padding: 0 1em;
    @media screen and (min-width: $break-medium) {
      padding: 0;
    }
  }

  &__item {
    border-bottom: 1px solid transparentize($color2, 0.66);
    font-size: 1rem;
    margin: 1em 0;
    padding: 1em 0;
    transition: color 0.5s;

    &::after {
      clear: both;
      content: '';
      display: table;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
