.recent {
  &__title {
    background-color: $color1;
    font-family: 'Conv_PRINC___';
    font-size: $font-large;
    margin: 0 1rem;
    @media screen and (min-width: $break-medium) {
      margin: 0;
    }
    padding: 0.75rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__image {
    float: left;
    width: 33%;
  }

  &__date,
  &__item-title {
    float: left;
    padding-left: 0.5rem;
    width: 67%;
  }

  &__item-title {
    @include hover;
    font-size: $font-small;
  }

  &__date {
    color: $color8;
    font-size: $font-xsmall;
    margin-top: 0.5rem;
    text-transform: uppercase;
  }

  &__items {
    padding: 0 1rem;
    @media screen and (min-width: $break-medium) {
      padding: 0;
    }
  }

  &__item {
    @include clearfix;
    border-bottom: 1px solid transparentize($color2, 0.66);
    margin: 1rem 0;
    padding: 1rem 0;

    &:last-child {
      border-bottom: 0;
    }
  }
}
