.region {
  &__row {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $break-medium) {
      flex-wrap: nowrap;
      margin: 0 auto;
      width: 1200px;
    }
  }
  @media screen and (min-width: $break-medium) {
    &__header {
      margin: 0 auto;
      width: 1200px;
    }
  }

  &__content {
    flex: 0 0 100%;
    margin: 1rem 0;
    width: 100%;
    @media screen and (min-width: $break-medium) {
      flex: 1 1 auto;
      margin: 1rem;
    }
  }

  &__sidebar {
    flex: 0 0 100%;
    margin: 1rem 0;
    width: 100%;
    @media screen and (min-width: $break-medium) {
      flex: 0 0 320px;
      margin: 1rem;
    }
  }
}
