.region {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    @media screen and (min-width: $break-large) {
      flex-wrap: nowrap;
      margin: 0 auto;
      max-width: 1200px;
    }
  }
  @media screen and (min-width: $break-large) {
    &__header {
      margin: 0 auto;
      max-width: 1200px;
    }
  }

  &__content {
    flex: 0 0 100%;
    width: 100%;
    @media screen and (min-width: $break-large) {
      flex: 1 1 auto;
      margin: 0 1rem;
    }
  }

  &__sidebar {
    flex: 0 0 100%;
    margin: 1rem 0;
    width: 100%;
    @media screen and (min-width: $break-large) {
      flex: 0 0 320px;
      margin: 0 1rem;
    }
  }
}
