.result {
  background-color: $color1;
  height: 100%;
  padding: 2rem;

  &__list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
  }

  &__wrapper {
    flex: 0 0 100%;
    padding: 1rem;
    @media screen and (min-width: $break-medium) {
      flex: 0 0 50%;
    }
    @media screen and (min-width: $break-large) {
      flex: 0 0 33.3%;
    }
  }

  &__search {
    padding: 0 1rem;
    position: relative;
    text-align: center;
  }

  &__search-input {
    border: 1px solid $color4;
    border-radius: 1em;
    color: $color5;
    font-size: $font-large;
    line-height: $line-height-medium;
    margin: 1.5rem 0;
    padding: 0 1.5rem;
    width: 100%;
  }

  &__search-button {
    @include icon($icon-search);
    @include hover;
    cursor: pointer;
    font-size: $font-large;
    margin-top: -0.75rem;
    position: absolute;
    right: 1.5rem;
    top: 50%;
  }

  &__title {
    color: $color8;
    font-size: $font-small;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__snippet {
    font-size: $font-small;
    line-height: $line-height-medium;
    margin: 1rem 0;
  }
}
