.result {
  background-color: $color1;
  height: 100%;
  padding: 2em;

  &__list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
  }

  &__wrapper {
    flex: 0 0 100%;
    padding: 1em;
    @media screen and (min-width: $break-medium) {
      flex: 0 0 50%;
    }
    @media screen and (min-width: $break-large) {
      flex: 0 0 33.3%;
    }
  }

  &__search {
    padding: 0 1em;
    position: relative;
    text-align: center;
  }

  &__search-input {
    border: 1px solid $color4;
    border-radius: 1em;
    color: $color5;
    font-size: 1.5rem;
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0 1em;
    width: 100%;
  }

  &__search-button {
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: -0.5em;
    position: absolute;
    right: 1em;
    top: 50%;
    transition: color 0.5s;

    &:hover {
      color: $color3;
    }
  }

  &__title {
    color: $color8;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__snippet {
    font-size: 1.1rem;
    line-height: 1.5em;
    margin: 1em 0;
  }
}
