.section {
    align-items: center;
    display: flex;
    position: relative;

    &--full-height {
        min-height: 100vh;
    }
    
    &--no-mouse {
        pointer-events: none;
    }

    &__content {
        margin: 4em 2em;
        position: relative;
        width: 100%;

        &--small-puff {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        @media screen and (min-width: $break-large) {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
