.service {
  flex: 0 0 100%;
  @media screen and (min-width: $break-medium) {
    $percentage: 100% / 2;
    flex: 0 0 $percentage;
    padding: 0 1em;
  }
  @media screen and (min-width: $break-large) {
    $percentage: 100% / 3;
    flex: 0 0 $percentage;
    padding: 0 1em;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -1em;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
  }

  &__icon {
    margin: 2em auto;
    width: 50%;
  }
}
