.text {
  font-size: $font-small;
  line-height: $line-height-medium;
  text-align: justify;

  &--columns {
    @media screen and (min-width: $break-medium) {
      column-count: 2;
      column-gap: 1rem;
    }
  }

  ul {
    list-style: circle;
  }

  p {
    margin-bottom: 1rem;
  }

  img {
    vertical-align: text-top;
    @media screen and (min-width: $break-medium) {
      max-width: 50%;
    }
  }

  a {
    color: $color8;
    font-family: 'Conv_Airplanes in the Night Sky';
  }
}
