.text {
  font-size: 1.1rem;
  line-height: 1.5em;
  text-align: justify;

  &--columns {
    @media screen and (min-width: $break-medium) {
      column-count: 2;
      column-gap: 1em;
    }
  }

  ul {
    list-style: circle;
  }

  p {
    margin-bottom: 1em;
  }

  img {
    border: 1px solid $color6;
    margin: 1em auto;
    padding: 0.5em;
    @media screen and (min-width: $break-medium) {
      width: 50%;
    }
  }

  a {
    color: $color8;
    font-family: 'Conv_Airplanes in the Night Sky';
  }
}
