<div class='landing__text landing__text--imaged'>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <div class="landing__title">
        {{ site_name }}
      </div>
    </a>
  {% endif %}

  {% if site_slogan %}
    <div class='landing__subtitle'>{{ site_slogan }}</div>
  {% endif %}

</div>
