<section class='section'>
  <div class='section__content section__content--no-margin'>
      <article{{ attributes.addClass('profile') }}>
        {% if content %}
          {{- content -}}
        {% endif %}
      </article>
  </div>
</section>
